---
layout: default
title: Contact
cv: passive
projects: passive
blog: passive
contact: active
description: Contact information for Serge Obally Kinimo.
---
<div class="contact">

	<p>You can get in touch with or find me at:</p>

	<ul class="fa-ul">
		{% if site.github_username %}
			<li>
				<a href="https://github.com/{{ site.github_username }}">
		      <i class="fa-li fa fa-github"></i> GitHub
		    </a>
			</li>
		{% endif %}

		{% if site.twitter_username %}
			<li>
				<a href="https://twitter.com/{{ site.twitter_username }}">
		      <i class="fa-li fa fa-twitter"></i> Twitter
		    </a>
			</li>
		{% endif %}

		{% if site.linkedin_username %}
			<li>
				<a href="https://linkedin.com/in/{{ site.linkedin_username }}">
		      <i class="fa-li fa fa-linkedin"></i> LinkedIn
		    </a>
			</li>
		{% endif %}
	</ul>

</div>
